body{
    /* background: var(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%));
    background-size: cover; */
    background-color: #f3f3f3;
    height: 100%;
}

.alert.alert-slow {
    display: none;
}
.avatar {
    border: 1px solid #ddd;
    padding: 1px 1px;
}
.avatar.w-36px {height: 36px; width: 36px;}
.avatar.w-40px {height: 40px; width: 40px;}

.avatar.avatar-navbar {
    margin: -10px 0;
    border-radius: 50% 50%;
}


.btn.btn-slim.active.focus, .btn.btn-slim.active:focus,
.btn.btn-slim.focus, .btn.btn-slim:active.focus, 
.btn.btn-slim:active:focus, .btn.btn-slim:focus {
    border: none;
}
.table .dropdown .btn::before {
    margin-right: -2px;
    margin-bottom: 4px;
    display: none;
}
.table .dropdown .btn.show::before {
    display: inline-block;
}

/*  
* LAYOUT
*
*/

[role=moon] {
    padding: 0 0;
}
[role=moon] .wrapp {
    padding-top: 65px;
}
[role=moon] .wrapp-md {
    margin-left: 12.5%;
    width: 75%;
}
[role=moon] .moon-navbar {
    background-color: #fff;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000;
}
[role=moon] .moon-navbar .navbar {
    min-height: 48px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

[role=moon] .moon-navbar .navbar .nav-item .nav-link [class*="mdi mdi-"] {
    font-size: 22px;
    line-height: 100%;
    position: relative;
    bottom: -3px;
}
[role=moon] .moon-navbar .navbar .nav-item .nav-link .text-toggle {
    display: none;
}
[role=moon] .moon-navbar .navbar .navbar-toggler{
    border: none;
}
[role=moon] .moon-navbar .navbar .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
[role=moon] .moon-navbar .navbar .swap-nav {
    padding-left: 15px;
    padding-right: 15px;
    display: none;
    z-index: 999;
}
[role=moon] .moon-navbar .navbar .swap-nav [class*="mdi mdi-"] {
    font-size: 24px;
}

[role=moon] .moon-navbar .navbar .nav-item .nav-link.dropdown-toggle::after {
    margin-left: -5px;
}
/* NAV */
.nav.nav-embed {
    flex-direction: column !important;
}
.nav.nav-embed .dropdown .dropdown-menu {
    border-color: transparent;
	-webkit-border-radius: 0 0;
	-moz-border-radius: 0 0;
	-ms-border-radius: 0 0;
	-o-border-radius: 0 0;
	border-radius: 0 0;
	padding: 0 0;
	position: static !important;
	transform: translate3d(0px, 0px, 0px) !important;
	width: 100%;
}
[role=moon] .moon-nav {
    background-color: #fff;
    position: fixed;
    width: 260px;
    top: 50px;
    left: 0;
    bottom: 0;
    transition-property: left;
    transition-duration: .2s;
}

/* BODY */
[role=moon] .moon-body {
    display: block;
    height: 100vh;
    margin: 0 260px 0 260px;
    padding: 65px 0 15px 0;
    transition-property: margin;
    transition-duration: .2s;
}
/* ASIDE */
[role=moon] .moon-aside {
    background-color: #fff;
    position: fixed;
    width: 260px;
    top: 50px;
    right: 0;
    bottom: 0;
    transition-property: right;
    transition-duration: .2s;
    z-index: 999;
}
[role=moon] .moon-navbar .navbar .swap-aside {
    padding: 0 15px 0 15px;
    display: none;
}
[role=moon] .moon-navbar .navbar .moon-navbar-body .swap-aside {
    padding: 0 15px 0 15px;
    display: none;
}

[role=moon] .moon-navbar .swap-aside [class*="mdi mdi-"] {
    font-size: 24px;
}
/*
* LAYOUT LG */
[role=moon] .moon-layout-lg .moon-body {
    margin-left: 260px;
    transition-property: margin-left;
}
/*
* LAYOUT MD */
[role=moon] .moon-layout-md .navbar.moon-navbar {
    padding-right: 0px !important;
}
[role=moon] .moon-layout-md .moon-navbar .navbar .swap-nav {
    display: none;
}
[role=moon] .moon-layout-md .moon-aside {
    background-color: #fff;
    right: -260px;
    transition-property: right;
    transition-duration: .2s;
}
[role=moon] .moon-layout-md .moon-aside.swap-show {
    right: 0;
    transition-property: right;
    transition-duration: .2s;
}
[role=moon] .moon-layout-md .moon-navbar .moon-navbar-body .swap-aside {
    display: inline-block;
}
[role=moon] .moon-layout-md .moon-body {
    margin-right: 0;
    transition-property: margin-left;
    transition-duration: .2s;
}
/*
* LAYOUT SM */
[role=moon] .moon-layout-sm {
    padding: 0 15px 0 15px !important;
}
[role=moon] .moon-layout-sm .moon-navbar .moon-navbar-body .swap-aside,
[role=moon] .moon-layout-sm .moon-navbar .swap-nav  {
    display: inline-block;
}
[role=moon] .moon-layout-sm .moon-nav{
    left: -260px;
    transition-property: left;
    transition-duration: .2s;
}
[role=moon] .moon-layout-sm .moon-nav.swap-show{
    left: 0;
    transition-property: left;
    transition-duration: .2s;
}
[role=moon] .moon-layout-sm .moon-aside{
    right: -260px;
    transition-property: right;
    transition-duration: .2s;
}
[role=moon] .moon-layout-sm .moon-aside.swap-show {
    right: 0;
    transition-property: right;
    transition-duration: .2s;
}
[role=moon] .moon-layout-sm .moon-body {
    margin-left: 20%;
    transition-property: margin-left;
    transition-duration: .2s;
}
[role=moon] .moon-layout-sm .moon-body {
    margin-right: 20%;
    transition-property: margin-right;
}

/* MRDIA QUERY */
@media( max-width: 1280px ) {
    [role=moon] .wrapp-md {
        margin-left: 5%;
        width: 90%;
    }
    [role=moon] .moon-layout-lg .navbar.moon-navbar {
        padding-right: 0px !important;
    }
    [role=moon] .moon-layout-lg .moon-navbar .moon-navbar-body .swap-aside {
        display: inline-block;
    }
    [role=moon] .moon-layout-lg .moon-aside {
        right: -280px;
        transition-property: right;
        transition-duration: .2s;
    }
    [role=moon] .moon-layout-lg .moon-aside.swap-show {
        right: 0;
        transition-property: right;
        transition-duration: .2s;
    }
    [role=moon] .moon-layout-lg .moon-body {
        margin-right: 0;
        transition-property: margin-right;
        transition-duration: .2s;
    }
    [role=moon] .moon-layout-sm .moon-body {
        margin-left: 10%;
        transition-property: margin-left;
        transition-duration: .2s;
    }
    [role=moon] .moon-layout-sm .moon-body {
        margin-right: 10%;
        transition-property: margin-right;
    }
}

@media(min-width: 990px) {
    [role=moon] .moon-navbar .navbar {
        background: linear-gradient(to bottom,  #f3f3f3 0%,#ffffff 100%,#f0f0f0 100%);
    }
}

@media( max-width: 990px )
{
    [role=moon] .wrapp-md {
        margin-left: 0;
        width: 100%;
    }
    [role=moon] .moon-navbar .navbar {
        padding-left: 0px !important;
    }
    [role=moon] .moon-navbar .navbar .swap-nav {
        display: inline-block;
    }
    [role=moon] .moon-nav {
        left: -260px;
        transition-property: left;
        transition-duration: .2s;
    }
    [role=moon] .moon-nav.swap-show {
        left: 0;
        transition-property: left;
        transition-duration: .2s;
    }
    [role=moon] .moon-body,
    [role=moon] .moon-layout-lg .moon-body {
        margin-left: 0;
        transition-property: margin-left;
        transition-duration: .2s;
    }
    [role=moon] .moon-layout-md .moon-navbar .navbar .swap-nav {
        display: inline-block;
    }
    [role=moon] .moon-layout-sm .moon-body {
        margin-left: 0;
        transition-property: margin-left;
        transition-duration: .2s;
    }
    [role=moon] .moon-layout-sm .moon-body {
        margin-right: 0;
        transition-property: margin-right;
        transition-duration: .2s;
    }
    [role=moon] .moon-layout-sm .swap-aside {
        display: inline-block;
    }
    /* [role=moon] .moon-navbar .swap-nav {
        display: inline-block;
    } */
}

@media( max-width: 770px ) {
    [role=moon] .moon-navbar .navbar {
        padding: 0 0 !important;
    }
    [role=moon] .moon-navbar .moon-navbar-body {
        border-top: 1px solid #ddd;
        padding: 15px 15px;
    }
    [role=moon] .moon-layout-lg .moon-navbar .moon-navbar-body .swap-aside,
    [role=moon] .moon-layout-md .moon-navbar .moon-navbar-body .swap-aside {
        display: none;
    }    
    [role=moon] .moon-navbar .navbar .nav-item .nav-link .text-toggle,
    [role=moon] .moon-navbar  .navbar .swap-aside {
        display: inline-block;
    }
    [role=moon] .moon-navbar  .navbar .nav-item.aside {
        display: none;
    }
    [role=moon] .moon-body {
        margin-right: 0;
        transition-property: margin-right;
        transition-duration: .2s;
    }
    [role=moon] .moon-aside {
        right: -260px;
        transition-property: right;
        transition-duration: .2s;
    }
    [role=moon] .moon-aside.swap-show {
        right: 0;
        transition-property: right;
        transition-duration: .2s;
    }
}